[Unit]
Description=ninetan-docker
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker run --rm --name docker -p 2200:22 -v /efs/master/unagi:/home/unagi -v /home/unagi/dropbox:/home/unagi/dropbox -v /efs:/efs -v /home/ninetan/github:/home/unagi/github:ro -v /home/ninetan/github:/github:ro -v /home/unagi/dropbox:/dropbox:ro unagi2018/master:master /usr/sbin/sshd -D
Restart=always

[Install]
WantedBy=multi-user.target
