[Unit]
Description=ninetan-execute-daemon instance %i
Requires=docker.service
After=docker.service

[Service]
ExecStart=/home/ninetan/bin/ninetan-execute-daemon
Restart=always

[Install]
WantedBy=multi-user.target
