[Unit]
Description=ninetan-docker
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker run --rm --name docker -p 2200:22 -v /efs:/efs -v /github:/github:ro -v /dropbox:/dropbox:ro unagi2018/master:master /usr/sbin/sshd -D
Restart=always

[Install]
WantedBy=multi-user.target
